/* *{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
} */

#toggler{
    height: 20px;
    background-color:black;
    width: 50px;
    border-radius: 10px;
    position: relative;
}
.toggleBall{
    height: 20px;
    width: 20px;
    background-color: white;
    position: absolute;
    top: 0px;
    left: 0;
    border-radius: 10px;
    transform: scale(0.9);
    transition: 1s;
}
#toggler.active .toggleBall{
    left: 30px;
}
body.active{
    background-color: black;
    color: white;
}
#toggler.active{
    background-color: wheat;
}
